:root {
  --bg: #151c2c;
  --bgSoft: #182237;
  --text: white;
  --textSoft: #b7bac1;
  --planetCount: 9;
  --planetSize: 1200px;
  --planetSpacing: 2300px;
  --planetTransitionSpeed: 2s;
  --mainPlanetViewAmount: 280;
  --globalPerspective: 800px;
  --sceneAxisTilt: -20deg;
  --menuSpacing: 14px;
  --traverse: "";
  --traverseTriggers: "";

  /* Colors */
  --mercury: #E8927C;
  --venus: #b45d15;
  --earth: #26daaa;
  --mars: #e55f45;
  --jupiter: orange;
  --saturn: #b29d81;
  --uranus: #8dcdd8;
  --neptune: #4f83e2;
  --pluto: #FF8732;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
